<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joostwagenaar.laughder" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/aapje"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseActivity"
            android:label="@string/username" >
        </activity>
        <activity
            android:name=".MatchActivity"
            android:label="@string/username" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/username" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/username" >
        </activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="U2IA6ByBy4YpJeBNAOi41nx41SgQR5uxbhEF2gWR" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="2H7K0Hq8FsJtfsf6TwVwVCIkB4UjFJpZ93FGM7Of" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
